.heading-section{
    background: linear-gradient(to right, rgb(2,228,171), rgb(74,215, 240));
    padding:80px;

       
  }
  
  h1.title{
    color:white;
    text-align: center;
    font-weight: bold;
 }

 .container{
     max-width: 800px;
     margin-left: 530px;
 }
 .add-todo-box{
     margin-right: 160px;
     margin-left: -160px;
     text-align: center;
     justify-content: center;
     border-radius: 4px;
    margin-top: -65px;
    background: white;
    box-shadow: 0 4px 12px;
 }
 .field {
     display: flex;
   text-align: center;
   justify-content: center;
   
 }
 
 .input{
     width: 300px;
 }


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
};
.todo-item{
    border-bottom: 2px solid;
}
