/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/bulma.sass';

.alt-gradient-button {
    background: linear-gradient(to right, rgb(236,72,140), rgb(240 54 82));
    display: flex;
    align-items: center;
    margin: 0 5px;
    color: white;
    border: none;
    font-weight: 600;
    height: 25px;
    border-radius: 4px;
    opacity: 8px;
    
}
  i.material-icons{
   margin-right: 3px;
   margin-left: -3px;
  }
  .check-box{
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 50%;
}
.todo-text{
    margin-top: -22px;
    width: 500px;
}
.checkbox{
    cursor: pointer; 
    position: absolute; 
    width: 20px;
     height: 20px; 
     top: 312px; 
     border-radius: 10px;
     margin: 0 -48px;
     opacity: 3px;
     background: #eee;
}
.checkbox1{
    cursor: pointer; 
    position: absolute; 
    width: 20px;
     height: 20px; 
     top: 402px; 
     border-radius: 10px;
     margin: 0 -48px;
     opacity: 3px;
     background: #eee;
};
.todo-item{  
    border-bottom: 1px solid;
}